.project {
    height: max-content;
    /* background: red; */
    color: white;
    margin: 3rem 0;
}

.btnList{
    width: max-content;
    margin: auto;
    margin-top: 3rem;
    .btn-group{
        .btn{
            background: #2c27276e;
            &:hover{
                color: white;
                    background: skyblue;
            }
            &.active{
                color: white;
                background: skyblue;
            }
        }
    }
}
.cardDiv{
    width: 70%;
    margin:3rem auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    .card{
         background: #544b4b98;
         color: white;
         padding: 1.5rem;
         justify-content: space-evenly;
           border: 1px solid rgb(93, 85, 85);
    }
    
}

@media screen and (max-width:1200px) {
    .project{
        
        .headingDecs{
            width: 65%;
        }
    }
}

@media screen and (max-width:500px) {
    .project{
        zoom: .8;
    }

    .cardDiv{
        display: flex;
        flex-direction: column;
        .card{
           zoom: .7;
           .card-img-top{
            zoom: .7;
           }
        }

    }
    
}
