*{
  margin: 0;
  padding: 0;
}
:root{
  --nav-font:15px;
  --nav-btn-font:10px;
}

body{
  background: url(../src/Assets/hero1.jpg);  
  background-size: cover;
  background-attachment: fixed;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

li {
  list-style: none;
}